footer.footer
  ul.lst-social
    li
      a(href="#")
        img(src="/images/ico-phone.png", alt="")
    li
      a(href="#")
        img(src="/images/ico-fb.png", alt="")
    li
      a(href="#")
        img(src="/images/ico-google.png", alt="")