section#homepage.swiper-homepage
  .swiper-wrapper
    .swiper-slide(style="background-image: url(/images/bg_bannertop.jpg)")
      img.slider-sub-title(src="/images/tagline.png", alt="")

    .swiper-slide(style="background-image: url(/images/bg_bannertop2.png)")
      .wrap-slide2
        h2.slider-title CHỦ ĐẦU TƯ
        p.txt-desc
          | Công ty cổ phần quản lý tài sản Sông Nhuệ được thành lập ngày 25/04/2019 với số vốn điều lệ ban đầu là 500.000.000.000 VNĐ. Trải qua 2 năm hình thành và phát triển, Sông Nhuệ đã và đang gặt hái được rất nhiều thành công và nhận được sự đón nhận tích cực từ thị trường. Công ty tập trung phát triển các dịch vụ cốt lõi, bao gồm: Đầu tư Bất động sản, Phát triển dự án, Xây dựng nhà ở, Tư vấn quản lý dự án đầu tư xây dựng…
          br
          | Với mục tiêu trở thành một công ty đầu tư và phát triển bất động sản có sức mạnh cạnh tranh với các công ty lớn trên thị trường, hiện nay Sông Nhuệ đang tập trung vào việc phát triển các dự án nhà ở cao cấp tại địa bàn Hà Nội và một số thành phố lớn ở Việt Nam.

    .swiper-slide(style="background-image: url(/images/bg_bannertop3.png)")
      .wrap-slide3
        h2.slider-title Tổng quan dự án
        p.txt-desc
          span Tổng diện tích khu đất: &nbsp;
          | 26.207m2 (2,62ha)
        ul.lst-slide
          li
            span Vị trí: &nbsp;
            | Avenue Garden nằm trên trục đường huyết mạch
            br
            | Tây Thăng Long và đồ án quy hoạch khu đô thị ven sông Hồng
          li
            span Chủ đầu tư:&nbsp;
            | OSI Holdings
          li
            span Quỹ căn:&nbsp;
            | 101 căn biệt thự
          li
            span Giá trị:&nbsp;
            | 1,5 triệu đô - 2 triệu đô
          li
            span Tiện ích:&nbsp;
            | Công viên xanh, hồ điều hoà, trường học, thương mại và các tiện ích phục vụ nhu cầu vui chơi, giải trí khác

    .swiper-button-prev
    .swiper-button-next