section#lienhe(style="background-image: url(/images/bg_thuvien.png)")
  .container
    .row.d-flex.justify-content-between
      .col-sm-12.col-md-4
        img.logo-footer(src="/images/logo-footer.png", alt="")
        .box-address
          p.title-head Công ty Cổ phần Quản lý Tài sản Sông Nhuệ
          p.txt-info Địa chỉ: Tầng 3, tòa nhà N01-T4, Khu đô thị Ngoại Giao Đoàn, P. Xuân Tảo, Q. Bắc Từ Liêm, TP. Hà Nội
        .box-address
          p.title-head Dự án Avenue Garden – Tây Thăng Long
          p.txt-info Địa chỉ: Đường Tây Thăng Long, P. Tây Tựu, Q. Bắc Từ Liêm, TP. Hà Nội
          p.txt-info Hotline: &nbsp;
            a(href="tel:+842432077272") +(84) 243.207.72.72
          p.txt-info Mail: &nbsp;
            a(href="mailto:Info@aveniegarden.com.vn") Info@aveniegarden.com.vn
          p.txt-info Website: &nbsp;
            a(href="https://avenuegarden.com.vn") avenuegarden.com.vn

      .col-sm-12.col-md-6
        .box-frm
          form.frm
            input(type="text", placeholder="Họ và tên")
            input(type="text", placeholder="Số điện thoại")
            input(type="text", placeholder="Email")
            input(type="text", placeholder="Lời nhắn")
            button.btn.btn-warning Đăng ký