block js
  script.
    $(function() {
      $('.map').maphilight();
    });

section#matbang
  img(src='/images/matbang.png' usemap='#image-map' class="map")
  map(name='image-map')
    area(target='' alt='' title='' href='/' coords='107,151,142,212' shape='rect')


