section#thuvien(style="background-image: url(/images/bg_thuvien.jpg)")
  .container.wrap-container
    .row
      .wrap-left
        h2 THƯ VIỆN
        .swiper-pagination
      .wrap-right
        .swiper-thuvien
          .swiper-wrapper
            .swiper-slide
              <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5UQJQgwoRbM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .swiper-slide
              img(src='/images/img_thuvien2.jpg')
            .swiper-slide
              img(src='/images/img_thuvien1.jpg')

          .swiper-button-prev
          .swiper-button-next

        .thumb-thuvien
          .swiper-wrapper
            .swiper-slide.video
              img(src='/images/ico_thuvien3.jpg')
            .swiper-slide
              img(src='/images/ico_thuvien2.jpg')
            .swiper-slide
              img(src='/images/ico_thuvien1.jpg')
