section#tienich
  .swiper-tienich
    .swiper-wrapper
      // Slides
      .swiper-slide(style="background-image: url(/images/bg_tienich1.png)")
        .container.wrap-slide
          h2 TIỆN ÍCH
          h3.slider-title Bể bơi:
          p.txt-desc
            | Được thiết kế hoàn toàn ngoài trời với tổng diện tích 196m2, bể bơi tại Avenue Garden mang hơi hướng hiện đại, hòa nhập với nhịp sống năng động. Bể bơi đúng chuẩn cao cấp giúp nâng tầm tiện ích của biệt thự cũng như đẳng cấp sống của chủ nhân. Không chỉ vậy, đây còn là nơi thư giãn tuyệt vời cho mọi thành viên và trải nghiệm dịch vụ nghỉ dưỡng chuẩn 5*.
      .swiper-slide(style="background-image: url(/images/bg_tienich2.png)")
        .container.wrap-slide
          h2 TIỆN ÍCH
          h3.slider-title Nhà sinh hoạt cộng đồng
          p.txt-desc
            | Đây là nơi diễn ra các hoạt động tập thể gắn kết cộng đồng của ban quản lý và cư dân. Các hoạt động văn hóa văn nghệ, giao lưu diễn ra giúp Avenue Garden trở thành nơi an cư lạc nghiệp tuyệt vời, một nơi đáng sống và đầu tư hiệu quả.
      .swiper-slide(style="background-image: url(/images/bg_tienich3.png)")
        .container.wrap-slide
          h2 TIỆN ÍCH
          h3.slider-title Khu vui chơi
          p.txt-desc
            | Nơi đây được thiết kế dành riêng cho trẻ em với các trò chơi hấp dẫn, an toàn và không gian sinh hoạt thoải mái.

      .swiper-slide(style="background-image: url(/images/bg_tienich4.png)")
        .container.wrap-slide
          h2 TIỆN ÍCH
          h3.slider-title Sân thể thao ngoài trời
          p.txt-desc
            | Tại đây có đầy đủ sân tập cầu lông, bóng rổ cùng các chòi nghỉ và hệ thống cây xanh cảnh quan ấn tượng. Cuộc sống bận rộn của cư dân trở nên khoa học và khỏe mạnh hơn. Ngoài ra, hệ thống chòi nghỉ và cây xanh giúp tạo nên cảnh quan thoáng đãng.
      .swiper-slide(style="background-image: url(/images/bg_tienich5.png)")
        .container.wrap-slide
          h2 TIỆN ÍCH
          h3.slider-title Tiện ích khác
          p.txt-desc
            | Ngoài ra, Avenue Garden với vị trí đắc địa giúp mọi thành viên có thể thuận tiện di chuyển tới các tiện ích xung quanh như trường học, trung tâm thương mại,… Hệ thống camera an ninh 24/24, bảo vệ giúp đảm bảo cuộc sống và hoạt động kinh doanh an toàn, hiệu quả.

  .thumb-tienich
    .swiper-wrapper
      .swiper-slide
        img(src='/images/ico_tienich1.png')
      .swiper-slide
        img(src='/images/ico_tienich2.png')
      .swiper-slide
        img(src='/images/ico_tienich3.png')
      .swiper-slide
        img(src='/images/ico_tienich4.png')
      .swiper-slide
        img(src='/images/ico_tienich5.png')

  .swiper-btn-tienich
    .swiper-button-prev
    .swiper-button-next


