section#tintuc(style="background-image: url(/images/bg_thuvien.png)")
  .container.wrap-container
    h2 TIN TỨC
    .swiper-tintuc
      .swiper-wrapper
        .swiper-slide
          .box-slide
            a.news(href="#")
              img(src='/images/img_tintuc1.png')
              p Tất cả thông tin về đường đại lộ Tây Thăng Long
            a.btn.btn-warning(href="#") Xem Thêm
        .swiper-slide
          .box-slide
            a.news(href="#")
              img(src='/images/img_tintuc2.png')
              p Toàn cảnh đường Tây Thăng Long đang mở theo quy hoạch ở Hà Nội
            a.btn.btn-warning(href="#") Xem Thêm
        .swiper-slide
          .box-slide
            a.news(href="#")
              img(src='/images/img_tintuc3.png')
              p Đường 10 làn xe trục tây Thăng Long Hà Nội
            a.btn.btn-warning(href="#") Xem Thêm

    .swiper-button-prev
    .swiper-button-next